<!-- welcome index -->
<div>
  <ul>
    <% if session[:user_id] %>
      <li><%=link_to "sign out", logout_path %></li>
      <li><%= link_to "create new post", new_user_post_path(session[:user_id]) %></li>
    <% else %>
      <li><%=link_to "sign in", sign_in_path %></li>
    <% end %>
  </ul>

</div>
<ol>
  <% @posts.each do |post|  %>
    <li><%= link_to post.title, post.url  %> | <%= link_to post.user.username, user_path(post.user.id)%> | <%= link_to "Comments", post_comments_path(post)  %></li>
  <%end  %>
</ol>
