<!-- postcomments index -->
<%= form_for ([@post, @comment]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

   <%=  %>

  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<ol>
  <% @post.comments.each do |comment|  %>
    <li><%=comment.content %> | <%= link_to comment.user.username, user_path(comment.user.id)%></li>
  <%end  %>
</ol>

