<h3>Create Post</h3>
<%= form_for :post, url: user_posts_path , method: 'post' do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title  %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url  %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
